<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Departments</title>
</head>
<body>
<div layout:fragment="content">
  <h3 th:utext="${facultySelected ne null} ? 'Departments from ' + ${facultySelected.name} : 'Departments'"></h3>
  <form action="#" th:action="@{/department}" class="my-2">
    <div class="row align-items-center">
      <div class="col-1">
        <label for="selectFaculty" class="col-form-label">Faculty</label>
      </div>
      <div class="col">
        <select class="form-select" id="selectFaculty" name="facultyId">
          <option value="0" selected>Please select faculty...</option>
          <option th:each="faculty : ${faculties}"
                  th:value="${faculty.id}"
                  th:utext="${faculty.name}"
                  th:selected="${facultySelected ne null and faculty.id eq facultySelected.id}">...</option>
        </select>
      </div>
      <div class="col">
        <input class="btn btn-success" type="submit" value="Show departments">
      </div>
    </div>
  </form>
  <div class="table-responsive-md">
    <table class="table table-hover table-sortable" id="mainTable">
      <caption>List of departments</caption>
      <thead class="bg-success">
      <tr>
        <th scope="col" class="col-1">id</th>
        <th scope="col" class="col">Department Name</th>
        <th scope="col">Faculty Name</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="department : ${departments}" class="align-middle">
        <td th:utext="${department.id}">...</td>
        <td th:utext="${department.name}">...</td>
        <td th:utext="${department.faculty.name}">...</td>
        <td class="py-0">
          <div class="row">
            <div class="col-auto">
              <form th:action="@{/department/{id}(id = ${department.id})}">
                <button type="submit" class="btn btn-warning btn-sm">
                  <i class="bi-pencil-square"></i> Edit
                </button>
              </form>
            </div>
            <div class="col-auto">
              <form th:method="delete" th:action="@{/department/{id}(id = ${department.id})}">
                <button type="submit" class="btn btn-danger btn-sm">
                  <i class="bi-trash-fill"></i> Delete
                </button>
              </form>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>