<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table border="1">
  <thead>
  <tr>
  </tr>
  </thead>
  <tbody>
  <tr th:each="faculty, iStat : ${facultyPage.content}"
      th:style="${iStat.odd}? 'font-weight: bold;'"
      th:alt-title="${iStat.even}? 'even' : 'odd'">
    <td th:text="${faculty.id}" />
    <td th:text="${faculty.name}" />
  </tr>
  </tbody>
</table>
<div th:if="${facultyPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
  <a th:href="@{/faculties/list(size=${facultyPage.size}, page=${pageNumber - 1})}"
     th:text="${pageNumber}"
     th:class="${pageNumber==facultyPage.number + 1} ? active"></a>
</div>
</body>
</html>