<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Faculties</title>
</head>
<body>
<div layout:fragment="content">
  <h3>Faculties</h3>
  <div class="table-responsive-md">
    <table class="table table-striped table-hover table-sortable">
      <thead class="bg-success">
      <tr>
        <th scope="col" class="col-1">id</th>
        <th scope="col" class="col-6">Faculty Name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="faculty : ${faculties}">
        <td th:utext="${faculty.id}">...</td>
        <td th:utext="${faculty.name}">...</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>