<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Groups</title>
</head>
<body>
<div layout:fragment="content">
  <h3>Groups</h3>
  <form action="#" th:action="@{/group}" class="my-2">
    <div class="row align-items-center">
      <div class="col-1 text-end pe-0">
        <label for="selectFaculty" class="col-form-label">Faculty</label>
      </div>
      <div class="col ps-1">
        <select class="form-select" id="selectFaculty" name="facultyId">
          <option value="0" selected>Please select faculty...</option>
          <option th:each="faculty : ${faculties}"
                  th:value="${faculty.id}"
                  th:utext="${faculty.name}"
                  th:selected="${facultyIdSelect ne null and faculty.id eq facultyIdSelect}">...
          </option>
        </select>
      </div>
      <div class="col">
        <input class="btn btn-success" type="submit" value="Show groups">
      </div>
      <div class="col-auto form-check form-switch">
        <input class="form-check-input" type="checkbox" id="switchShowInactiveGroupsMainTable"
               onclick="showInactiveGroupsInTable()" name="isShowInactive" th:checked="${isShowInactive}">
        <label class="form-check-label" for="switchShowInactiveGroupsMainTable">Show inactive groups</label>
      </div>
    </div>
  </form>
  <div class="table-responsive-md">
    <table class="table table-hover table-sortable" id="mainTable">
      <caption>List of groups</caption>
      <thead class="bg-success">
      <tr>
        <th scope="col" class="col-1 th-sort">id</th>
        <th scope="col" class="col-2 th-sort">Group Name</th>
        <th scope="col" class="col th-sort">Faculty Name</th>
        <th scope="col" class="col text-center th-sort">Status</th>
        <th scope="col" class="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="group : ${groups}" class="align-middle"
          th:classappend="${group.active} ? 'active' : (${isShowInactive}? 'inactive' : 'inactive d-none')">
        <td th:utext="${group.id}">...</td>
        <td th:utext="${group.name}">...</td>
        <td th:utext="${group.faculty.name}">...</td>
        <td th:utext="${group.active} ? 'active' : 'inactive'" class="text-center"
            th:classappend="${group.active} ? 'active' : 'inactive'">...
        </td>
        <td class="py-0">
          <div class="row">
            <div class="col-auto">
              <form th:action="@{/group/{id}(id = ${group.id})}">
                <button type="submit" class="btn btn-warning btn-sm">
                  <i class="bi-pencil-square"></i> Edit
                </button>
              </form>
            </div>
            <div class="col-auto">
              <form th:method="delete" th:action="@{/group/{id}(id = ${group.id})}">
                <button type="submit" class="btn btn-danger btn-sm">
                  <i class="bi-trash-fill"></i> Delete
                </button>
              </form>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script layout:fragment="script">
  function showInactiveGroupsInTable() {
    const table = document.getElementById('mainTable');
    const check = document.getElementById('switchShowInactiveGroupsMainTable');
    showInactiveTableRow(table, check);
  }

</script>
</body>
</html>