<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <title>Lessons</title>
</head>
<body>
<div layout:fragment="content">
  <h3>List of lessons</h3>
  <!--  Form -->
  <form action="#" th:action="@{/lesson/filter}" th:object="${lessonFilter}"
        method="post" class="my-2">
    <div class="row mb-3">
      <!--Faculty, department and teacher select-->
      <div class="col-6">
        <!--Faculty-->
        <div class="row my-1">
          <div class="col-2 text-end pe-1">
            <label for="selectFaculty" class="col-form-label">Faculty</label>
          </div>
          <div class="col-md ps-1">
            <select class="form-select" id="selectFaculty" name="facultyId"
                    onchange="fillSelectDepartmentsAndTeachers()">
              <option value="0" selected>Please select faculty...</option>
              <option th:each="faculty : ${faculties}"
                      th:value="${faculty.id}"
                      th:utext="${faculty.name}"
                      th:selected="${lessonFilter.facultyId ne null and faculty.id eq lessonFilter.facultyId}">...
              </option>
            </select>
          </div>
        </div>
        <!--Department-->
        <div class="row my-1">
          <div class="col-2 text-end pe-1">
            <label for="selectDepartment" class="col-form-label">Department</label>
          </div>
          <div class="col-md ps-1">
            <select class="form-select" id="selectDepartment" name="departmentId"
                    onchange="fillSelectTeachersLesson()">
              <option value="0" selected>Please select department...</option>
              <option th:each="department : ${departments}"
                      th:value="${department.id}"
                      th:utext="${department.name}"
                      th:selected="${lessonFilter.departmentId ne null and
                          department.id eq lessonFilter.departmentId}">...
              </option>
            </select>
          </div>
        </div>
        <!--Teacher-->
        <div class="row my-1">
          <div class="col-2 text-end pe-1">
            <label for="selectTeacher" class="col-form-label">Teacher</label>
          </div>
          <div class="col-md ps-1">
            <select class="form-select" id="selectTeacher" name="teacherId"
                    onchange="switchSubmitEnabled()">
              <option value="0" selected>Please select teacher...</option>
              <option th:each="teacher : ${teachers}"
                      th:value="${teacher.id}"
                      th:utext="${teacher.fullName} + (${teacher.isActive}? '' : ' - inactive')"
                      th:classappend="${teacher.isActive}? 'active' : (${isShowInactiveTeachers}?
                                                'inactive' : 'inactive d-none')"
                      th:selected="${lessonFilter.teacherId ne null and teacher.id eq lessonFilter.teacherId}">...
              </option>
            </select>
          </div>
        </div>
        <!--Inactive teacher checkbox-->
        <div class="row my-1">
          <div class="col-sm-auto form-check form-switch ms-5">
            <input class="form-check-input" type="checkbox" id="switchShowInactiveTeachers"
                   onclick="showInactiveTeachersInSelect()" name="isShowInactiveTeachers"
                   th:checked="${isShowInactiveTeachers}">
            <label class="form-check-label" for="switchShowInactiveTeachers">Show inactive teachers</label>
          </div>
        </div>
      </div>
      <!--Course, room and date select-->
      <div class="col-6">
        <!--Course-->
        <div class="row my-1">
          <div class="col-2 text-end pe-1">
            <label for="selectCourse" class="col-form-label">Course</label>
          </div>
          <div class="col-md ps-1">
            <select class="form-select" id="selectCourse" name="courseId"
                    onchange="switchSubmitEnabled()">
              <option value="0" selected>Please select course...</option>
              <option th:each="course : ${courses}"
                      th:value="${course.id}"
                      th:utext="${course.name}"
                      th:selected="${lessonFilter.courseId ne null and course.id eq lessonFilter.courseId}">...
              </option>
            </select>
          </div>
        </div>
        <!--Room-->
        <div class="row my-1">
          <div class="col-2 text-end pe-1">
            <label for="selectRoom" class="col-form-label">Room</label>
          </div>
          <div class="col-md ps-1">
            <select class="form-select" id="selectRoom" name="roomId"
                    onchange="switchSubmitEnabled()">
              <option value="0" selected>Please select room...</option>
              <option th:each="room : ${rooms}"
                      th:value="${room.id}"
                      th:utext="${room.building} + ' - ' + ${room.number}"
                      th:selected="${lessonFilter.roomId ne null and room.id eq lessonFilter.roomId}">...
              </option>
            </select>
          </div>
        </div>
        <!--Dates lesson-->
        <div class="row my-1">
          <div class="col-2 text-end pe-1">
            <label for="datepicker" class="col-form-label">Dates</label>
          </div>
          <div class="col-md ps-1 input-group input-daterange" id="datepicker">
            <span class="input-group-text">from</span>
            <input type="text" class="input-sm form-control" th:field="*{dateFrom}"
                   th:value="${#temporals.format(lessonFilter.dateFrom, 'yyyy-MM-dd')}"
                   autocomplete="off" onchange="switchSubmitEnabled()">
            <span class="input-group-text">to</span>
            <input type="text" class="input-sm form-control" th:field="*{dateTo}"
                   th:value="${#temporals.format(lessonFilter.dateTo, 'yyyy-MM-dd')}"
                   autocomplete="off" onchange="switchSubmitEnabled()">
            <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
          </div>
        </div>
      </div>
    </div>

    <!--Submit button and checkbox show past lessons -->
    <div class="row mt-2 align-items-center">
      <!--Submit-->
      <div class="col-sm">
        <input class="btn btn-success" type="submit" value="Show lessons" id="submit"
               th:disabled="${!#request.requestURI.contains('lesson/filter')}">
      </div>
      <!--Checkbox show past lessons-->
      <div class="col-sm-auto form-check form-switch ms-5">
        <input class="form-check-input" type="checkbox" id="switchShowPastLessonsMainTable"
               onclick="showPastLessonsInTable()" name="isShowPastLessons"
               th:checked="${isShowPastLessons}">
        <label class="form-check-label" for="switchShowPastLessonsMainTable">Show past lessons</label>
      </div>
    </div>
  </form>
  <!--  Form-->
  <!--  Main Table-->
  <div class="table-responsive-md">
    <table class="table table-hover table-sortable" id="mainTable">
      <caption>List of lessons</caption>
      <thead class="bg-success">
      <tr>
        <th scope="col" class="col th-sort">Course</th>
        <th scope="col" class="col th-sort">Teacher</th>
        <th scope="col" class="col th-sort">Room</th>
        <th scope="col" class="col th-sort">Date</th>
        <th scope="col" class="col th-sort">Time Start</th>
        <th scope="col" class="col th-sort">Time End</th>
        <th scope="col" class="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="lesson : ${lessons}" class="align-middle"
          th:classappend="${lesson.timeEnd &gt; #temporals.createNow()}? 'active' : (${isShowPastLessons}? 'inactive' : 'inactive d-none')">
        <td th:utext="${lesson.courseName}">course</td>
        <td th:utext="${lesson.teacherFullName}">teacher</td>
        <td th:utext="${lesson.buildingAndRoom}">room</td>
        <td th:utext="${#temporals.format(lesson.timeStart, 'yyyy-MM-dd')}">2021/08/07</td>
        <td th:utext="${#temporals.format(lesson.timeStart, 'HH:mm')}">14:30</td>
        <td th:utext="${#temporals.format(lesson.timeEnd, 'HH:mm')}">16:00</td>
        <td class="py-0">
          <div class="row">
            <div class="col-auto">
              <form th:action="@{/lesson/{id}(id = ${lesson.id})}">
                <button type="submit" class="btn btn-warning btn-sm">
                  <i class="bi-pencil-square"></i> Edit
                </button>
              </form>
            </div>
            <div class="col-auto">
              <form th:method="delete" th:action="@{/lesson/{id}(id = ${lesson.id})}">
                <button type="submit" class="btn btn-danger btn-sm">
                  <i class="bi-trash-fill"></i> Delete
                </button>
              </form>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--  Main Table End-->
</div>
<!--Scripts-->
<script layout:fragment="script">
  function fillSelectDepartmentsAndTeachers () {
    fillSelectDepartments()

    const select = document.getElementById('selectFaculty').value
    fillSelectTeachers(select, 'faculty')
    switchSubmitEnabled()
  }

  function fillSelectTeachersLesson () {
    const select = document.getElementById('selectDepartment').value
    fillSelectTeachers(select, 'department')
    switchSubmitEnabled()
  }

  function showInactiveTeachersInSelect () {
    const check = document.getElementById('switchShowInactiveTeachers')
    const select = document.getElementById('selectTeacher')
    showInactiveSelectOption(select, check)
  }

  function showPastLessonsInTable () {
    const table = document.getElementById('mainTable')
    const check = document.getElementById('switchShowPastLessonsMainTable')
    showInactiveTableRow(table, check)
  }

  function switchSubmitEnabled () {
    if ($('#selectFaculty').val() > 0 ||
      $('#selectDepartment').val() > 0 ||
      $('#selectTeacher').val() > 0 ||
      $('#selectCourse').val() > 0 ||
      $('#selectRoom').val() > 0 ||
      $('#dateFrom').val() !== '' ||
      $('#dateTo').val() !== '') {

      $('#submit').removeAttr('disabled')
    } else {
      $('#submit').attr('disabled', 'disabled')
    }
  }

  $('.input-daterange').datepicker({
    format: 'yyyy-mm-dd',
    weekStart: 1,
    todayBtn: true,
    daysOfWeekHighlighted: '0',
    calendarWeeks: true,
    clearBtn: true,
    autoclose: true,
    todayHighlight: true,
  })

</script>
</body>
</html>