<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Students</title>
</head>
<body>
<div layout:fragment="content">
  <h3>Students</h3>
  <!--  Form -->
  <form action="#" th:action="@{/students}" class="my-2">
    <!--    Faculty select-->
    <div class="row mb-3">
      <div class="col-1">
        <label for="selectFaculty" class="col-form-label">Faculty</label>
      </div>
      <div class="col-md ps-1">
        <select class="form-select" id="selectFaculty" name="facultyId"
                onchange="fillSelectGroupsStudents()">
          <option value="0" selected>Please select faculty...</option>
          <option th:each="faculty : ${faculties}"
                  th:value="${faculty.id}"
                  th:utext="${faculty.name}"
                  th:selected="${faculty.id eq facultyIdSelect}">...
          </option>
        </select>
      </div>
    </div>
    <!--    Group select -->
    <div class="row align-items-center mb-3">
      <div class="col-1">
        <label for="selectGroup" class="col-form-label">Group</label>
      </div>
      <div class="col-md-4 ps-1">
        <select class="form-select" id="selectGroup" name="groupId" onchange="switchSubmitEnabled()">
          <option value="0" selected>Please select group...</option>
          <option th:each="group : ${groups}"
                  th:value="${group.id}"
                  th:utext="${group.name} + (${group.active}? '' : ' - inactive')"
                  th:classappend="${group.active}? 'active' : (${isShowInactiveGroups}?
                                                'inactive' : 'inactive d-none')"
                  th:selected="${group.id eq groupIdSelect}">...
          </option>
        </select>
      </div>

      <div class="col-auto form-check form-switch ms-3">
        <input class="form-check-input" type="checkbox" id="switchShowInactiveGroups"
               onclick="showInactiveGroupsInSelect()"
               name="isShowInactiveGroups" th:checked="${isShowInactiveGroups}">
        <label class="form-check-label" for="switchShowInactiveGroups">Show inactive groups</label>
      </div>
    </div>
    <!--    Submit button and checkbox show inactive students -->
    <div class="row mt-2 align-items-center">
      <div class="col-sm">
        <input class="btn btn-success btn-sm" type="submit" value="Show students" id="submit"
               th:disabled="${facultyIdSelect eq null and groupIdSelect eq null}">
      </div>
      <div class="col-sm-auto form-check form-switch ms-5">
        <input class="form-check-input" type="checkbox" id="switchShowInactiveStudentsMainTable"
               onclick="showInactiveStudentsInTable()" name="isShowInactiveStudents"
               th:checked="${isShowInactiveStudents}"/>
        <label class="form-check-label" for="switchShowInactiveStudentsMainTable">Show inactive students</label>
      </div>
    </div>
  </form>

  <button type="button" class="btn btn-primary mb-2 btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#newStudentModal">
    <i class="bi bi-plus-circle"></i> New Student
  </button>

  <!--  Main Table-->
  <div class="table-responsive-md">
    <table class="table table-hover table-sortable" id="mainTable">
      <caption>List of students</caption>
      <thead class="bg-success">
      <tr>
        <th scope="col" class="col th-sort">id</th>
        <th scope="col" class="col th-sort">First Name</th>
        <th scope="col" class="col th-sort">Patronymic</th>
        <th scope="col" class="col th-sort">Last Name</th>
        <th scope="col" class="col th-sort">Group Name</th>
        <th scope="col" class="col th-sort text-center">Status</th>
        <th scope="col" class="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="student : ${students}" class="align-middle"
          th:classappend="${student.active} ? 'active' : (${isShowInactiveStudents}? 'inactive' : 'inactive d-none')">
        <td th:utext="${student.id}">...</td>
        <td class="first_name" th:utext="${student.firstName}">...</td>
        <td class="patronymic" th:utext="${student.patronymic}">...</td>
        <td class="last_name" th:utext="${student.lastName}">...</td>
        <td th:utext="${student.group.name}">...</td>
        <td th:utext="${student.active} ? 'active' : 'inactive'" class="text-center"
            th:classappend="${student.active} ? 'active' : 'inactive'">active
        </td>
        <td class="py-0">
          <div class="row">
            <div class="col-auto">
              <form th:action="@{/student/{id}/timetable(id = ${student.id})}">
                <button type="submit" class="btn btn-info btn-sm">
                  <i class="bi-calendar3"></i> Timetable
                </button>
              </form>
            </div>
            <div class="col-auto">
              <a href="#editStudentModal"
                 class="btn btn-warning btn-sm editButton"
                 data-bs-toggle="modal" th:data-bs-id="${student.id}">
                <i class="bi-pencil-square"></i> Edit
              </a>
            </div>
            <div class="col-auto">
              <a href="#deleteStudentModal"
                 class="btn btn-danger btn-sm deleteButton"
                 data-bs-toggle="modal" th:data-bs-id="${student.id}">
                <i class="bi-trash-fill"></i>Delete
              </a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--  Main Table End-->

  <!--  Modal Forms-->
  <!--  Create Modal-->
  <div id="newStudentModal" class="modal fade" data-bs-backdrop="static"
       tabindex="-1" aria-labelledby="NewStudentModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="#" th:action="@{/students}" method="post"
              th:object="${newStudent}">
          <div class="modal-header">
            <h5 class="modal-title" id="newStudentModalLabel">New Student</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="newStudentFirstNameInput"
                     placeholder="First name"
                     th:field="*{firstName}" required>
              <label for="newStudentFirstNameInput">First Name</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="newStudentPatronymicInput"
                     placeholder="Patronymic"
                     th:field="*{patronymic}">
              <label for="newStudentPatronymicInput">Patronymic</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="newStudentLastNameInput"
                     placeholder="Last Name"
                     th:field="*{lastName}" required>
              <label for="newStudentLastNameInput">Last Name</label>
            </div>

            <div class="col-auto form-check form-switch mb-3">
              <input class="form-check-input" type="checkbox" id="switchActiveNewStudent"
                     th:field="*{active}">
              <label class="form-check-label" for="switchActiveNewStudent">Active student</label>
            </div>

            <div class="mb-3">
              <label for="selectGroupNewStudent" class="form-label">Group</label>
              <select name="group.id" id="selectGroupNewStudent"
                      class="form-select" required>
                <option value="" disabled selected>Please select group...
                </option>
                <option th:each="group : ${groups}"
                        th:value="${group.id}"
                        th:utext="${group.name}"
                        th:selected="${group.id eq groupIdSelect}">...
                </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">Cancel
            </button>
            <input type="hidden" name="uri"
                   th:value="${#request.requestURI} + (${#request.queryString}? '?' + ${#request.queryString} : '')">
            <input type="submit" class="btn btn-primary btn-sm" value="Create Student">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Edit Modal -->
  <div id="editStudentModal" class="modal fade" data-bs-backdrop="static"
       tabindex="-1" aria-labelledby="editStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="formEdit" th:method="put">
          <div class="modal-header">
            <h5 class="modal-title" id="editStudentModalLabel">Update Student</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="editStudentFirstNameInput"
                     name="firstName" value="" required>
              <label for="editStudentFirstNameInput" class="form-label">First Name</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="editStudentPatronymicInput"
                     name="patronymic" value="">
              <label for="editStudentPatronymicInput" class="form-label">Patronymic</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="editStudentLastNameInput"
                     name="lastName" value="" required>
              <label for="editStudentLastNameInput" class="form-label">Last Name</label>
            </div>

            <div class="col-auto form-check form-switch mb-3">
              <input class="form-check-input" type="checkbox" id="switchActiveEditStudent"
                     name="active">
              <label class="form-check-label" for="switchActiveEditStudent">Active student</label>
            </div>

            <div class="mb-3">
              <label for="editStudentGroupSelect" class="form-label">Group</label>
              <select name="group.id" id="editStudentGroupSelect" class="form-select" required>
                <option value="" disabled selected>Please select department...
                </option>
                <option th:each="group : ${groups}"
                        th:value="${group.id}"
                        th:utext="${group.name}"
                        th:selected="${group.id eq groupIdSelect}">...
                </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancel
            </button>
            <input type="hidden" name="uri"
                   th:value="${#request.requestURI} + (${#request.queryString}? '?' + ${#request.queryString} : '')">
            <input type="submit" class="btn btn-primary" value="Update">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--  Delete Modal-->
  <div id="deleteStudentModal" class="modal fade" data-bs-backdrop="static"
       tabindex="-1" aria-labelledby="DeleteStudentModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="formDelete" th:method="delete">
          <div class="modal-header">
            <h5 id="deleteStudentModalLabel" class="modal-title">Delete Student</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete
              <span class="fw-bold" id="deletedStudent"></span></p>
            <p class="text-danger">
              <small>This action cannot be undone.</small>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancel
            </button>
            <input type="hidden" name="uri"
                   th:value="${#request.requestURI} + (${#request.queryString}? '?' + ${#request.queryString} : '')">
            <input type="submit" class="btn btn-danger" value="Delete">
          </div>
        </form>
      </div>
    </div>
  </div>


</div>

<!--Scripts-->
<script layout:fragment="script">
  function showInactiveGroupsInSelect () {
    const check = document.getElementById('switchShowInactiveGroups')
    const select = document.getElementById('selectGroup')
    showInactiveSelectOption(select, check)
  }

  function showInactiveStudentsInTable () {
    const table = document.getElementById('mainTable')
    const check = document.getElementById('switchShowInactiveStudentsMainTable')
    showInactiveTableRow(table, check)
  }

  function fillSelectGroupsStudents () {
    fillSelectGroups()
    switchSubmitEnabled()
  }

  function switchSubmitEnabled () {
    if ($('#selectFaculty').val() > 0 ||
      $('#selectGroup').val() > 0) {
      $('#submit').removeAttr('disabled')
    } else {
      $('#submit').attr('disabled', 'disabled')
    }
  }

  // NEW MODAL
  $(function () {
    $('#newStudentModal').on('show.bs.modal', function () {
      $('#switchActiveNewStudent').prop('checked', true)
    })
  })

  $(function () {
    $('#newStudentModal').on('shown.bs.modal', function () {
      $('#newStudentFirstNameInput').focus()
    })
  })

  // EDIT MODAL
  $(function () {
    $('.editButton').on('click', function () {
      let href = '/students/' + $(this).attr('data-bs-id')
      $('#formEdit').attr('action', href)
      $.get(href, function (student) {
        $('#editStudentFirstNameInput').val(student.firstName)
        $('#editStudentPatronymicInput').val(student.patronymic)
        $('#editStudentLastNameInput').val(student.lastName)
        let groupId = student.group.id
        $('#switchActiveEditStudent').prop('checked', student.active)
        $('#editStudentGroupSelect option[value=' + groupId + ']').prop('selected', true)
      })
    })
  })
  $(function () {
    $('#editStudentModal').on('shown.bs.modal', function () {
      $('#editStudentFirstNameInput').focus()
    })
  })

  // DELETE MODAL
  $(function () {
    $('.deleteButton').on('click', function () {
      let id = $(this).attr('data-bs-id')
      let row = $(this).parent().parent().parent().parent()
      let firstName = row.children('.first_name').text()
      let patronymic = row.children('.patronymic').text()
      let lastName = row.children('.last_name').text()
      let student = '\'' + firstName + ' ' + patronymic + ' ' + lastName + '\'?'
      $('#deletedStudent').text(student)
      $('#formDelete').attr('action', '/students/' + id)
    })
  })

</script>
</body>
</html>