<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %blue(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="ua.com.foxminded.university" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
        <logger name="org.springframework.jdbc.datasource.init" level="debug" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

    <!--    Hibernate loggers-->
    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.hql.internal.ast" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.tool.hbm2ddl" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.hql" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.cache" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.jdbc" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.stat" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--    <logger name="org.springframework.transaction" level="trace" additivity="false">-->
    <!--        <appender-ref ref="STDOUT"/>-->
    <!--    </logger>-->
    <logger name="org.thymeleaf" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>