.pt-60px {
  padding-top: 60px;
}

table.table-sortable thead > tr > th.th-sort {
  padding-right: 30px;
}

.table-sortable thead .th-sort {
  cursor: pointer;
  position: relative;
}

table.table-sortable thead .th-sort::before,
table.table-sortable thead .th-sort::after {
  position: absolute;
  bottom: 0.5em;
  display: block;
}

.table-sortable .th-sort::before,
.table-sortable .th-sort-asc::before,
.table-sortable .th-sort-desc::before {
  right: 1em;
  content: "\2191";
}

.table-sortable .th-sort::after,
.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  right: 0.5em;
  content: "\2193";
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
  color: white;
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::before {
  color: initial;
}

tr.inactive,
option.inactive {
  background: lavender;
  color: red;
}

td.check-box-table-cell,
th.check-box-table-cell {
  text-align: center;
  width: 41px;
}

td input[type=checkbox],
th input[type=checkbox] {
  margin: 0 auto;
  vertical-align: middle;
}

td.active {
  color: green;
  text-shadow: -1px -1px #FFF,
  -2px -2px #FFF,
  -1px 1px #FFF,
  -2px 2px #FFF,
  1px 1px #FFF,
  2px 2px #FFF,
  1px -1px #FFF,
  2px -2px #FFF,
  -3px -3px 2px #BBB,
  -3px 3px 2px #BBB,
  3px 3px 2px #BBB,
  3px -3px 2px #BBB;
}

td.inactive {
  text-shadow: -1px -1px #FFF,
  -2px -2px #FFF,
  -1px 1px #FFF,
  -2px 2px #FFF,
  1px 1px #FFF,
  2px 2px #FFF,
  1px -1px #FFF,
  2px -2px #FFF,
  -3px -3px 2px #BBB,
  -3px 3px 2px #BBB,
  3px 3px 2px #BBB,
  3px -3px 2px #BBB;
}

tr.selected {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
}
