.pt-60px {
  padding-top: 60px;
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
  color: white;
}

tr.inactive,
option.inactive {
  background: lavender;
  color: red;
  font-style: italic;
}

td.active {
  color: green;
  text-shadow: -1px -1px #FFF,
  -2px -2px #FFF,
  -1px 1px #FFF,
  -2px 2px #FFF,
  1px 1px #FFF,
  2px 2px #FFF,
  1px -1px #FFF,
  2px -2px #FFF,
  -3px -3px 2px #BBB,
  -3px 3px 2px #BBB,
  3px 3px 2px #BBB,
  3px -3px 2px #BBB;
}

td.inactive {
  text-shadow: -1px -1px #FFF,
  -2px -2px #FFF,
  -1px 1px #FFF,
  -2px 2px #FFF,
  1px 1px #FFF,
  2px 2px #FFF,
  1px -1px #FFF,
  2px -2px #FFF,
  -3px -3px 2px #BBB,
  -3px 3px 2px #BBB,
  3px 3px 2px #BBB,
  3px -3px 2px #BBB;
}