<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Groups</title>
</head>
<body>
<div layout:fragment="content">
  <h3>Groups</h3>
  <!--  Form filter-->
  <form action="#" th:action="@{/groups}" class="my-2">
    <div class="row align-items-center">
      <div class="col-1 text-end pe-0">
        <label for="selectFaculty" class="col-form-label">Faculty</label>
      </div>
      <div class="col ps-1">
        <select class="form-select" id="selectFaculty" name="facultyId">
          <option value="0" selected>Please select faculty...</option>
          <option th:each="faculty : ${faculties}"
                  th:value="${faculty.id}"
                  th:utext="${faculty.name}"
                  th:selected="${facultyIdSelect ne null and faculty.id eq facultyIdSelect}">...
          </option>
        </select>
      </div>

      <div class="col">
        <input class="btn btn-success btn-sm" type="submit" value="Show groups">
      </div>

      <div class="col-auto form-check form-switch">
        <input class="form-check-input" type="checkbox" id="switchShowInactiveGroupsMainTable"
               onclick="showInactiveGroupsInTable()" name="isShowInactive" th:checked="${isShowInactive}">
        <label class="form-check-label" for="switchShowInactiveGroupsMainTable">Show inactive groups</label>
      </div>
    </div>
  </form>

  <button type="button" class="btn btn-primary mb-2 btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#newGroupModal">
    <i class="bi bi-plus-circle"></i> New Group
  </button>

  <!--  Table-->
  <div class="table-responsive-md">
    <table class="table table-hover table-sortable" id="mainTable">
      <caption>List of groups</caption>
      <thead class="bg-success">
      <tr>
        <th scope="col" class="col-1 th-sort">id</th>
        <th scope="col" class="col-2 th-sort">Group Name</th>
        <th scope="col" class="col th-sort">Faculty Name</th>
        <th scope="col" class="col text-center th-sort">Status</th>
        <th scope="col" class="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="group : ${groups}" class="align-middle"
          th:classappend="${group.active} ? 'active' : (${isShowInactive}? 'inactive' : 'inactive d-none')">
        <td th:utext="${group.id}">...</td>
        <td class="group_name" th:utext="${group.name}">...</td>
        <td th:utext="${group.facultyName}">...</td>
        <td th:utext="${group.active} ? 'active' : 'inactive'" class="text-center"
            th:classappend="${group.active} ? 'active' : 'inactive'">...
        </td>
        <td class="py-0">
          <div class="row">
            <div class="col-auto">
              <a href="#editGroupModal" class="btn btn-warning btn-sm editButton"
                 data-bs-toggle="modal" th:data-bs-id="${group.id}">
                <i class="bi-pencil-square"></i> Edit
              </a>
            </div>
            <div class="col-auto">
              <a href="#deleteGroupModal"
                 class="btn btn-danger btn-sm deleteButton"
                 data-bs-toggle="modal" th:data-bs-id="${group.id}">
                <i class="bi-trash"></i>Delete
              </a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--  Modal Forms-->
  <!--  Create Modal-->
  <div id="newGroupModal" class="modal fade" data-bs-backdrop="static"
       tabindex="-1" aria-labelledby="NewGroupModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="#" th:action="@{/groups}" method="post"
              th:object="${newGroup}" data-validate="/groups/validate">
          <div class="modal-header">
            <h5 class="modal-title" id="newGroupModalLabel">New Group</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="newGroupNameInput" class="form-label">Name</label>
              <input type="text" class="form-control validated-field"
                     placeholder="Enter new group name"
                     id="newGroupNameInput" th:field="*{name}" required>
            </div>

            <div class="col-auto form-check form-switch mb-3">
              <input class="form-check-input validated-field" type="checkbox"
                     id="switchActiveNewGroup" th:field="*{active}">
              <label class="form-check-label" for="switchActiveNewGroup">Active group</label>
            </div>

            <div class="mb-3">
              <label for="selectFacultyNewGroup" class="form-label">Faculty</label>
              <select name="faculty.id" id="selectFacultyNewGroup"
                      class="form-select validated-field" required>
                <option value="" disabled selected>Please select faculty...
                </option>
                <option th:each="faculty : ${faculties}"
                        th:value="${faculty.id}"
                        th:utext="${faculty.name}"
                        th:selected="${facultyIdSelect ne null and faculty.id eq facultyIdSelect}">...
                </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">Cancel
            </button>
            <input type="submit" class="btn btn-primary btn-sm" value="Create Group">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Edit Modal -->
  <div id="editGroupModal" class="modal fade" data-bs-backdrop="static"
       tabindex="-1" aria-labelledby="editGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="formEdit" th:method="put" data-validate="/groups/validate">
          <div class="modal-header">
            <h5 class="modal-title" id="editGroupModalLabel">Update Group</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="editGroupNameInput" class="form-label">Name</label>
              <input type="text" class="form-control validated-field"
                     id="editGroupNameInput" name="name" value="" required>
            </div>

            <div class="col-auto form-check form-switch mb-3">
              <input class="form-check-input validated-field" type="checkbox"
                     id="switchActiveEditGroup" name="active">
              <label class="form-check-label" for="switchActiveEditGroup">Active group</label>
            </div>

            <div class="mb-3">
              <label for="editGroupFacultySelect" class="form-label">Faculty</label>
              <select name="faculty.id" id="editGroupFacultySelect"
                      class="form-select validated-field" required>
                <option value="" disabled selected>Please select faculty...
                </option>
                <option th:each="faculty : ${faculties}"
                        th:value="${faculty.id}"
                        th:utext="${faculty.name}"
                        th:selected="${facultyIdSelect ne null and faculty.id eq facultyIdSelect}">...
                </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">Cancel
            </button>
            <input type="submit" class="btn btn-primary btn-sm" value="Update">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--  Delete Modal-->
  <div id="deleteGroupModal" class="modal fade" data-bs-backdrop="static"
       tabindex="-1" aria-labelledby="DeleteGroupModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="formDelete" th:method="delete">
          <div class="modal-header">
            <h5 id="deleteGroupModalLabel" class="modal-title">Delete Group</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete
              <span class="fw-bold" id="deletedGroupName"></span></p>
            <p class="text-danger">
              <small>This action cannot be undone.</small>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">Cancel
            </button>
            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<script layout:fragment="script">

  function showInactiveGroupsInTable () {
    const table = document.getElementById('mainTable');
    const checkbox = document.getElementById('switchShowInactiveGroupsMainTable');
    showInactiveTableRow(table, checkbox);
  }

  // NEW MODAL
  $(function () {
    $('#newGroupModal').on('show.bs.modal', function () {
      $('#switchActiveNewGroup').prop('checked', true);
    });
  });

  $(function () {
    $('#newGroupModal').on('shown.bs.modal', function () {
      $('#newGroupNameInput').focus();
    });
  });

  // EDIT MODAL
  $(function () {
    $('.editButton').on('click', function () {
      let href = '/groups/' + $(this).attr('data-bs-id');
      $('#formEdit').attr('action', href);
      $.get(href, function (group) {
        $('#editGroupNameInput').val(group.name);
        let facultyId = group.facultyId;
        $('#switchActiveEditGroup').prop('checked', group.active);
        $('#editGroupFacultySelect option[value=' + facultyId + ']').prop('selected', true);
      });
    });
  });
  $(function () {
    $('#editGroupModal').on('shown.bs.modal', function () {
      $('#editGroupNameInput').focus();
    });
  });

  // DELETE MODAL
  $(function () {
    $('.deleteButton').on('click', function () {
      let id = $(this).attr('data-bs-id');
      let row = $(this).parent().parent().parent().parent();
      let name = row.children('.group_name').text();
      $('#deletedGroupName').
        text('\'' + name + '\'?');
      $('#formDelete').attr('action', '/groups/' + id);
    });
  });

</script>
</body>
</html>